<form [formGroup]="userForm" class="space-y-4 p-5 max-w-4xl">
    <h2 class="text-2xl font-bold text-gray-800">Add new loan details</h2>
    <p class="text-gray-600">Fill in the form to add details</p>
    <div>
        <label class="block text-sm font-medium text-gray-700">Account Number</label>
        <input type="text" formControlName="account_number"
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500">
        <div *ngIf="userForm.controls['account_number'].invalid && (isFormSubmitted || userForm.controls['account_number'].touched || userForm.controls['account_number'].dirty)"
            class="text-red-600">
            <span *ngIf="userForm.controls['account_number'].errors?.['required']">This Is Required</span>
        </div>
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">Interest Rate (%)</label>
        <input type="number" formControlName="interest_rate"
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500">
        <div *ngIf="userForm.controls['interest_rate'].invalid && (isFormSubmitted || userForm.controls['interest_rate'].touched || userForm.controls['interest_rate'].dirty)"
            class="text-red-600">
            <span *ngIf="userForm.controls['interest_rate'].errors?.['required']">This Is Required</span>
        </div>
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">Tenure (Years)</label>
        <input type="number" formControlName="tenure"
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500">
        <div *ngIf="userForm.controls['tenure'].invalid && (isFormSubmitted || userForm.controls['tenure'].touched || userForm.controls['tenure'].dirty)"
            class="text-red-600">
            <span *ngIf="userForm.controls['tenure'].errors?.['required']">This Is Required</span>
        </div>
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">Loan Amount</label>
        <input type="number" formControlName="loan_amount"
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500">
        <div *ngIf="userForm.controls['loan_amount'].invalid && (isFormSubmitted || userForm.controls['loan_amount'].touched || userForm.controls['loan_amount'].dirty)"
            class="text-red-600">
            <span *ngIf="userForm.controls['loan_amount'].errors?.['required']">This Is Required</span>
        </div>
    </div>

    <div>
        <label class="block text-sm font-medium text-gray-700">EMI Due (Monthly Payment Amount)</label>
        <input type="number" formControlName="emi_due"
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500">
        <div *ngIf="userForm.controls['emi_due'].invalid && (isFormSubmitted || userForm.controls['emi_due'].touched || userForm.controls['emi_due'].dirty)"
            class="text-red-600">
            <span *ngIf="userForm.controls['emi_due'].errors?.['required']">This Is Required</span>
        </div>
    </div>

    <div *ngIf="monthsToRepay && monthsToRepay > 0">
        <label class="block text-sm font-medium text-gray-700">Months to Repay</label>
        <p class="mt-1 text-gray-800">{{ monthsToRepay }}</p>
    </div>

    <div>
        <button type="button" (click)="onSubmit()"
            class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">Submit Details</button>
    </div>
</form>